
{% extends 'base.html' %}
{% block content %}

<h1 class="rojo">Estoy en la pagina About</h1>
<hr>
    

<hr>
<p> Numero de productos = {{ info.num_productos }}

<!-- Añadir un texto de alerta que se pueda cerrar -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Lorem Ipsum
    <button class="close" type="button" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Enlace para cargar codigos de barras -->
<a href="{{ url_for('sube_codigosbarras') }}">Cargar codigo de barras</a>

<!-- Insignias o badges -->
<span class="badge badge-pill badge-primary">Etiqueta</span>

<!-- Ventana modal -->
    <!-- Boton para abrir el pop-up -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popup">
        Abrir pop-up
    </button>

    <!-- Modal -->
    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="popupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popupLabel">Titulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Contenido del pop-up
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
                    

{% endblock %}
