
{% extends 'base.html' %}

{% block content %}

<!-- Barra de busqueda -->
<div class="container p-3">
  <form action="" method="POST" accept-charset="utf-8">
      <label for="name">Nombre:</label>
      <input type="text" value="" name="name" id="name"/>
      <input type="submit" value="Buscar" name="signup" id="signup"/>
  </form>
</div>

  <div class="row row-cols-2 row-cols-md-5">
        {% for n in datos %}

        <div class="col mb-4">

            <div class="card border-primary mx-1 my-1" >

              <div class="card-header">
                <a class="card-text bold" href="{{ url_for('producto', producto_id=n["id"]) }}">{{ n.name  }}</a>
              </div>

              <div class="card-body">

                  <!-- Imagen -->
                  <img class="rounded img-thumbnail" src="static/images/{{n.id}}.jpg" >

                  <!-- Precio -->
                  <h5>{{ n.ultimo_precio }}€ </h5>
                  
                  <!-- precio/unidad -->
                  <h6 class="car-subtitle mb-2 text-muted">
                     {{ "%.2f"|format(n.ultimo_precio  /  n.cantidad|float) }} €/{{n.unidad}}
                  </h6>

                  <div class="bg-white"> {{n.marca}} {{n.cantidad}} {{n.unidad}}</div>
                  <div class="fst-italic font-monospace"> {{n.codigoBarras}} </div>
                    <!--     {{ n.ultimo_precio / n.cantidad }} €/{{n.unidad}}  -->
                  <a href="{{ url_for('edit', id=n.id) }}" class="btn btn-primary">Editar</a>
                  <a href="{{ url_for('comprar_producto', id=n.id) }}" class="btn btn-secondary">Comprar</a>
              </div>

            </div>
        </div>
        
      {% endfor %}
  </div>

{% endblock %}
