
{% extends 'base.html' %}

{% block content %}

<!-- Barra de busqueda -->
<div class="container p-3">
  <form action="" method="POST" accept-charset="utf-8">
      <label for="name">Nombre:</label>
      <input type="text" value="" name="name" id="name"/>
      <input type="submit" value="Buscar" name="signup" id="signup"/>
  </form>
</div>
<div class="row text-center">

  
        {% for n in datos %}

        <div class="card mb-3" style="max-width: 15rem;">
                <img class="card-img-top" src="static/images/{{n.id}}.jpg" >
                <div class="card-body">
                  <!-- Precio -->
                  <h5>{{ n.ultimo_precio }}€ </h5>
                  <!-- precio/unidad -->
                  <h6 class="car-subtitle mb-2 text-muted">

                   {{ "%.2f"|format(n.ultimo_precio  /  n.cantidad|float) }} €/{{n.unidad}}
                </h6>
                <a class="card-text bold" href="{{ url_for('producto', producto_id=n["id"]) }}">{{ n.name  }}</a>
                  <div class="col-9 bg-white"> {{n.marca}} {{n.cantidad}} {{n.unidad}}</div>
                  <div class="fst-italic font-monospace"> {{n.codigoBarras}} </div>
                    <!--     {{ n.ultimo_precio / n.cantidad }} €/{{n.unidad}}  -->
                  <a href="{{ url_for('edit', id=n.id) }}" class="btn btn-primary">Editar</a>
                  <a href="{{ url_for('comprar_producto', id=n.id) }}" class="btn btn-secondary">Comprar</a>
                </div>
        </div>
        
    {% endfor %}
</div>
{% endblock %}
